
html, body {
  background-image: url("assets/paperopaque.jpg");
 }

 * {
  margin: 0;
  padding: 0;
}

#content {
  width: 800px;
  margin: auto;
}

#header{
  margin-top: 50px;
  display: flex;
}

#headerText{
  flex-grow: 2;
  width: 20%;
  min-width: 270px;
}

#headerButtons{
  margin-top: 14px;
  float: right;
}

.headerButton{
  transition: 0.1s;
  cursor: pointer;
  border: none;
  float: right;
  width: 160px;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

.center{
  text-align: center;
}

#githubButton{
  background-color: #24292d;
  color: white;
}

#resumeButton{
  background-color: #868686;
  color: white;
}

#linkedinButton{
  background-color: #0a66c2;
  color: white;
}

#githubButton:hover{
  background-color: #0f1113;
}

#resumeButton:hover{
  background-color: #616161;
}

#stadiumpic {
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  border-radius: 15px;
  height: 38vh;
  display: block;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

.coverPic{
  cursor: pointer;
  object-fit: cover;
  margin-top: 50px;
  width: 100%;
  height: 20vh;
  border-radius: 15px;
  display: block;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2); 
}

#video{
  height: 34vh;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

.coverPic:hover{
  transition: 0.1s;
  filter: brightness(86%);
}

.technologies{
  color: gray;
  transition: 0.2s;
}

#footer{
  margin-top: 100px;
  margin-bottom: 50px;;
  text-align: center;
}

.heavyMono{
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.mediumMono{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.medium{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.lightSans{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 720px){
  .technologies{
      margin-top: 10px;
      float: right;
  }
  .inline{
      display: inline-block;
  }
}

@media screen and (max-width: 470px){
  #headerText{
      font-size: smaller;
      min-width: 220px !important;
  }
}

@media screen and (max-width: 330px){
  #headerText{
      margin-top: 10px;
      font-size: x-small;
      min-width: 170px !important;
  }
}

@media screen and (min-width: 680px){
  #resumeButton{
      margin-right: 14px;
  }
  #linkedinButton{
    margin-right: 14px;
}
}


@media screen and (max-width: 830px){
  .headerButton{
      width: 90px !important;
      height: 30px !important;
      border-radius: 15px;
  }
  #resumeButton{
      margin-top: 7px;
      margin-right: 0px;
  }
  #linkedinButton{
    margin-top: 7px;
    margin-right: 0px;
}
  #headerButtons{
      display:grid;
  }
}

@media screen and (max-width: 845px){
  #content{
      width: 94vw;
  }
}